body {
  /* color: aliceblue; */
  /* background-color: black; */
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
  }
.marker {
    /* background-image: url('../js/flash.png'); */
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    }
    .mapboxgl-popup {
    max-width: 200px;
    }


    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }



    select{
      margin-top: 10px;
      /* color: aliceblue; */
      border:none;
      padding: 10px 20px;
      border-radius:5px;
    }
    #text{
      margin-top: 10px;
      /* color: white; */
    }
    select:focus{
      outline:none;
    }
  .new{
    display: flex;
  }


.green{
  width: 20px;
  height: 20px;
  background-image: url('./green.png');
}
.yellow{
  width: 20px;
  height: 20px;
  background-image: url('yellow.png');
}

.red{
  width: 20px;
  height: 20px;
  background-image: url('red.png');
  
}
.orange{
  width: 20px;
  height: 20px;
  background-image: url('orange.png');
}
.button{
  margin:5px;
  padding: 8px;
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 13px;
   /* margin-left: 14px;  */
}

.tsunmai{
  width: 30px;
  height: 30px;
  background-image: url('tsunami.png');
}

      
